body{
    background-color: lightgray;
}

.navbar{
	padding: 10px;
	background-color: lightblue;
	border: 5px solid white;
	display:flex;
    justify-content: flex-end;
	position: fixed;
	width: 100%;
	margin: 0;
	top:0;
}

.navbar a{
	color: black;
	text-decoration: none;
	padding: 10px;
	

}


.navbar a:hover{
	color: white;
	background-color:green;

}



.header{
	padding: 500px;
	background-image: url(pizza2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	border: 5px solid white;
}

*{
	box-sizing: border-box;
}

.about{
	display: flex;
	flex-wrap: wrap;
}

.image1{
    flex: 50%;
    padding-left: 100px;
    padding-top: 30px;
}

.para1{
	flex: 50%;
	padding-right: 100px;
	 padding-top: 30px;
	 font-size: 25px;
}

.menu{
	display: flex;
	flex-wrap: wrap;
}

.image2{
    flex: 50%;
    padding-right: 50px;
    padding-top: 30px;
}

.para2{
	flex: 50%;
	padding-left: 100px;
	 padding-top: 30px;
	 font-size: 25px;
}

.contact{
	padding-left: 100px;
	 padding-top: 30px;
	 font-size: 25px;
}

.footer{
	padding: 20px;
	background-color: darkgrey;
}

.links{
	text-align: center;
}

.links a:hover{
	color: white;
}
